body, html {
  margin: 0 10%;
  font-family: 'Helvetica', sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

a {
  text-decoration: none;
  color: rgb(65,147,248);
  text-shadow: none;    
}

a:hover,a:focus {
  text-decoration: none;
  color: rgb(65,147,248);
}

p {
  font-size: 1.2em;
}

.imgbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 3%;
}

@media only screen and (max-width: 768px) {
  body, html {
    margin: 0 2%;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
    margin: 0.5em;
  }

  .brscrunch {
    		line-height: 1.1;
  }
}

.imgbox img {
  height: 30vh;
  width: fit-content;
}

.imgbox video {
  height: 30vh;
  width: fit-content;
}

.social-icons-container {
  display: block;
  text-align: center;
  font-size: 2em;
}

.social-icons-container a {
  margin: 0 20px;
  color: #000;
}
