body, html {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 15%;
}

a {
      text-decoration: none;
      color: rgb(65,147,248);
      text-shadow: none;    
  }

  a:hover,a:focus {
      text-decoration: none;
      color: rgb(65,147,248);
  }

.imgbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10%;
}

.imgbox img {
  height: 40vh;
}
